[Unit]
Description=Puma web server
After=syslog.target
After=network.target

[Service]
Type=simple
User=rubyworker
WorkingDirectory=<%= current_path %>
ExecStart=/home/rubyworker/.rvm/bin/<%= application %>_pumactl -F systemd/puma.rb start
ExecStop=/home/rubyworker/.rvm/bin/<%= application %>_pumactl -F systemd/puma.rb stop
ExecReload=/home/rubyworker/.rvm/bin/<%= application %>_pumactl -F systemd/puma.rb phased-restart

TimeoutSec=15
Restart=always

[Install]
WantedBy=multi-user.target